body {
  background-color: #355C7D;
  color: "white";
  font-size:20px;
}

<style type="text/css">
.custom1 {
    color: #F67280;
}
</style>

<style type="text/css">
.custom2 {
    color: #6C5B7B;
}
</style>